body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #7581a1;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  color: #192b59;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
}

.nav {
  color: #6e7ea9;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-primary {
  color: #fff;
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 700px;
  text-transform: uppercase;
  background: #1085e4;
  border: 1px solid #1085e4;
  padding: 20px 40px;
  border-radius: 30px;
}

.btn-primary:hover {
  color: #1085e4;
  background: #fff;
}

.btn-secondary {
  color: #7e8bae;
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 700px;
  text-transform: uppercase;
  background: #cbdbe8;
  border: 1px solid #cbdbe8;
  padding: 20px 40px;
  border-radius: 30px;
}

.btn-secondary:hover {
  background: #fff;
}

.btn-free {
  font-weight: 400;
  padding: 21px 56px;
  letter-spacing: 1.7px;
}

.btn-group a+a {
  margin-left: 15px;
}

.btn-info {
  color: #8085b1;
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 700;
  background: transparent;
  border: 1px solid #dce1e5;
  padding: 20px 60px;
  border-radius: 30px;
  text-transform: uppercase;
}

.grid h2 {
  color: #192b59;
  font-size: 40px;
  font-weight: 700;
}

.grid h2 span {
  color: #1085e4;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.grid-item h3 {
  color: #192b59;
  font-size: 20px;
  font-weight: 600;
}

.grid-item a {
  color: #1085e4;
  font-size: 14px;
  font-weight: 600;
}

.info span {
  color: #192b59;
  font-size: 16px;
  font-weight: 700;
}

.info .author {
  color: #1085e4;
  font-size: 14px;
}

.page-subscibe {
  color: #dfe8ff;
  font-size: 18px;
}

.page-subscibe span {
  font-size: 14px;
  font-weight: 800;
  color: #00bffe;
  display: block;
}

.page-subscibe h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.page-software h2 {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
}

.page-software dt {
  font-weight: 700;
  color: #5a6789;
}

.page-stat h2>span {
  font-size: 16px;
  font-weight: 800;
  color: #1085e4;
  display: block;
}

.page-stat h2 {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
}

.page-stat span {
  font-size: 60px;
  color: #bacbdc;
}

.page-stat li {
  font-size: 12px;
  font-weight: 700;
  color: #1085e4;
}

.now {
  font-weight: 700;
  color: #c4d2dd;
  text-transform: uppercase;
}

.page-screen span {
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  display: block;
}